.wrap{
     background-color: #fff;
     padding: 10px;
     color: black
}

.error{
     margin:10px 0px;
}

.item{
     margin-bottom: 5px
}

.registration{
     text-decoration: none;
     color: black;
}

.registration{
     text-decoration: none;
     color: black;
}